# App
APP_NAME=required

# Rest Api
REST_API_PORT=required

# Postgres
PG_POOL_MAX=
PG_URL=required

# Email
EMAIL_RESEND_API_KEY=required
EMAIL_ID=required

# Log
LOG_LEVEL=

# Auth
AUTH_AGE_MIN=
AUTH_AGE_MAX=
AUTH_ATTEMPTS_OTP=
AUTH_ATTEMPTS_TOTP_VERIFY=
AUTH_EXPIRY_TIME_OTP=
AUTH_EXPIRY_TIME_ACCESS_TOKEN=
AUTH_EXPIRY_TIME_REFRESH_TOKEN=
AUTH_EXPIRY_TIME_RESET_PASSWORD=
AUTH_TTLCACHE_CLEAN_INTERVAL_OTP=
AUTH_TTLCACHE_CLEAN_INTERVAL_TOTP=
AUTH_TTLCACHE_CLEAN_INTERVAL_RESET=
AUTH_TTLCACHE_CLEAN_INTERVAL_JWT_BLOCKLIST=
AUTH_LEN_OTP=
AUTH_LEN_TOTP=
AUTH_SIZE_SESSION_ID=
AUTH_SIZE_REFRESH_TOKEN=
AUTH_SIZE_TOTP_KEY=
AUTH_PREFIX_REFRESH_TOKEN=
AUTH_PREFIX_OTP_SESSION=
AUTH_PREFIX_TOTP_SESSION=
AUTH_PREFIX_RESET_SESSION=
AUTH_JWT_SECRET=required

# HTTP
HTTP_DIALER_TIMEOUT=
HTTP_DIALER_KEEP_ALIVE=
HTTP_TLS_HANDSHAKE_TIMEOUT=
HTTP_RESPONSE_HEADER_TIMEOUT=
HTTP_EXPECT_CONTINUE_TIMEOUT=
HTTP_MAX_IDLE_CONNS=
HTTP_MAX_IDLE_CONNS_PER_HOST=
HTTP_MAX_CONNS_PER_HOST=
HTTP_IDLE_CONN_TIMEOUT=
HTTP_FORCE_ATTEMPT_HTTP2=
HTTP_TIMEOUT=
